body{
    background-color: #e7e7e7;
}

h1{
    text-align: center;
}

.container{
    max-width: 500px;
    margin: 0 auto;
}
.form{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}
.form__btn{
    margin-top: 10px;
}

.delete_car{
    background-color: red;
    width: 40px;
    height: 40px;
    text-align: center;
    align-self: end;
    padding-top: 7px;
    margin-bottom: 8px;
}

.delete_car:hover{
    cursor: pointer;
}